html{
    background-color: #CEE5D0;
    background-image: url(images/ryunosuke-kikuno-FKqxZ58bVjU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode:normal;
}




h1{
    text-align: center;
    font-family: "Playfair Display";
}

h2{
    text-align: justify;
    font-family: "Playfair Display";
}